* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  min-height: 100vh;
  min-width: 75vh;
  background-color: silver;
background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
linear-gradient(155deg, #d00 23px, transparent 23px),
linear-gradient(335deg, #b00 23px, transparent 23px),
linear-gradient(155deg, #d00 23px, transparent 23px);
background-size: 58px 58px;
background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  /* background: white; */
  height: 65vh;
  width: 100vh;
  position: absolute;
  background: rgba( 255, 255, 255, 0.5);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12.0px );
-webkit-backdrop-filter: blur( 4.0px );
-moz-backdrop-filter: blur( 20.0px );
border-radius: 2rem;
border: 2px solid rgba(255,255,255,0.3);
display: flex ;
align-self: center;
justify-content: center;
}

.circle1,
.circle2,
circle3 {
  height: 12rem;
  width: 12rem;
  position: absolute;
  z-index: 1;
  /* top: 5%; */
}

.circle1 {
  top: 14rem;
  right: 16rem;
  background: linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 50rem;
}

.circle2 {
  bottom: 14rem;
  left: 16rem;
  border-radius: 50rem;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.1)
  );
}

.circle3 {
  position: relative;
  bottom: 14rem;
  left: 16rem;
  border-radius: 50rem;
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.1)
  );
}

.atithi {
  height: 12rem;
  margin: -2rem;
}

.username{
    position: relative;
    top:-1em;
    left:1rem;
}

.nav_icon{
    position: relative;
    margin: 0.3rem;
    height: 2rem;
    /* left: 2.5rem; */
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nav_icon{
  border-radius: 50rem;
  scale: 1;
}

.dashboard{
  display: flex 1;
  margin: 0;
}

.content{
  display: flex 2;
}